# ---------- PLC ----------
PLC_PORT=/dev/ttyUSB0
PLC_BAUDRATE=9600
PLC_SLAVE_ID=1
PLC_TIMEOUT=0.5
PLC_POLL_INTERVAL=0.10

# ---------- Scanner ----------
SCANNER_DEVICE=/dev/input/event1

# ---------- Printer ----------
PRINTER_VID=0x1FC9
PRINTER_PID=0x2016
PRINTER_INTERFACE=0
PRINTER_IN_EP=0x81
PRINTER_OUT_EP=0x03
PRINTER_LOGO=./secure-parking/logo-rc.jpeg

HOSPITAL_NAME=RUMAH SAKIT RAJAWALI CITRA
HOSPITAL_ADDRESS=Jl. Pleret No.KM 2.5
TICKET_FINE_CAR=Rp20.000,-
TICKET_FINE_MOTOR=Rp10.000,-

# ---------- MQTT ----------
MQTT_HOST=secure-parking.seigan.id
MQTT_PORT=1883
MQTT_USERNAME=secureparking
MQTT_PASSWORD="UGP$3i%HD#qVZNpW"
MQTT_KEEPALIVE=60
MQTT_CLIENT_ID=gate-in-bbb-01

MQTT_GENERAL_TOPIC=parking/gate-in/general
MQTT_MEMBER_REQUEST_TOPIC=parking/gate-in/member/request
MQTT_MEMBER_RESPONSE_TOPIC=parking/gate-in/member/response
MQTT_HELP_TOPIC=parking/gate-in/help

# Member response is correlated by sessionNumber.
MEMBER_VERIFY_TIMEOUT=10
EVENT_DEBOUNCE=0.5

# ---------- Session ----------
SESSION_SEQUENCE_FILE=./session_sequence.txt
USER_ACTION_TIMEOUT=30

# ---------- Help ----------
HELP_REASON_BUTTON=Butuh Bantuan di Pintu Masuk!
HELP_REASON_PRINTER=Printer Error/Kertas Habis!

# ---------- Message Store ----------
MESSAGE_STORE_DB=./message_store.db
MESSAGE_RETRY_INTERVAL=5
MESSAGE_MAX_RETRIES=100
